<div class="admin-container">
  <section class="admin-summary pure-g">
    <div class="admin-summary-number-attending pure-u-11-24">
      <p class="admin-number-attending"><%= number_attending_saratoga_springs %></p>
      <p class="admin-number-attending-description">guests attending Saratoga Springs</p>
    </div>
    <div class="admin-summary-number-attending pure-u-11-24">
      <p class="admin-number-attending"><%= number_attending_thailand %></p>
      <p class="admin-number-attending-description">guests attending Thailand</p>
    </div>
  </section>

  <section class="admin-guests">
    View guests
    <select class="attending-select">
      <option value="any">that have RSVP'd</option>
      <% Guest::ATTENDING_VALUES.each do |attending| %>
        <option value="<%= attending %>"><%= attending_to_words(attending) %></option>
      <% end %>
    </select>

    <table class="admin-guests-table">
      <tr>
        <th class="admin-guests-table-heading">Name</th>
        <th class="admin-guests-table-heading">Plus Ones</th>
        <th class="admin-guests-table-heading">Attending</th>
        <th class="admin-guests-table-heading">Email</th>
        <th class="admin-guests-table-heading">Phone</th>
      </tr>
      <% guests.each do |guest| %>
        <tr class="admin-guest attending-<%= guest.attending %>">
          <td><%= guest.name %></td>
          <td class="c"><%= guest.plus_ones %></td>
          <td><%= format_attending(guest.attending) %></td>
          <td><%= guest.email %></td>
          <td><%= guest.phone %></td>
        </tr>
      <% end %>
    </table>
  </section>
</div>
